$blue-dianne: #227C9D;
$radical-red: #FF3850;
$topaz: #FFCB77;
$medium-aquamarine: #48CFAE;
$white-bone: #F7F7F7;

$primary: $radical-red;
$secondary: $blue-dianne;
$success: $medium-aquamarine;
//$info: $topaz;
$warning: $topaz;
$danger: $radical-red;
$light: $white-bone;
//$dark: $blue-dianne;