// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "colors";
@import "../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here
@import "fonts";

.btn-xlg {
  padding: 1em 1em;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.8rem;
}

.btn-shadow {
  box-shadow: 0px 3.95px 3.95px 0px #00000040;
}

.onboardingPills {
  height: 0.35rem;
  width: 4.8rem;
  border-radius: 1rem;
  background-color: #E59F9657;
}
