@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="flex flex-row gap-8 my-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="my-auto">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @User.Identity?.Name!</a>
        </li>
        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="btn bg-primary text-white" type="submit">Logout</button>
            </form>
        </li>
    }
    else
    {
        @* <li>
            <a class="" asp-area="Identity" asp-page="/Account/Register">Registrarme</a>
        </li> *@
        <li>
            <a class="btn bg-primary text-white" asp-area="Identity" asp-page="/Account/Login">Iniciar sesión</a>
        </li>
    }
</ul>