<a asp-controller="Home" asp-action="Index" class="font-mymba">
    <img class="mx-auto h-36 w-auto" src="/images/logo-mymba.png" alt="Mymba Pet">
    <h1 class="mt-10 text-center text-6xl leading-9 tracking-tight text-primary">
        Mymba Pet
    </h1>
</a>