<a asp-controller="Home" asp-action="Index" class="font-brand">
    <div class="flex flex-row place-content-center">
        <img src="/images/logo-mymba.svg" alt="" class="w-10 h-auto me-1">
        <h1 class="text-primary my-auto text-2xl">Mymba Pet</h1>
    </div>
</a>
