<!DOCTYPE html>
<html class="scroll-smooth" lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mymba Pet</title>
    <link rel="stylesheet" href="~/css/tailwindcss.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Boogaloo:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />

    @if (ViewData["Title"] != null && ViewData["Title"].ToString() == "Inicio")
    {
        <link rel="stylesheet" href="~/css/landing.css" />
    }

</head>

<body>
    <header class="py-3 px-5 flex flex-row place-content-between">
        <partial name="_MymbaLogo" />
        <div class="flex flex-row gap-8">
            <partial name="_LoginPartial" />
        </div>
    </header>


    @* <partial name="_HeaderPartial" /> *@
    <main>
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>