<!DOCTYPE html>
<html class="scroll-smooth font-ui text-dark" lang="es">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Mymba Pet</title>
    <link rel="stylesheet" href="~/css/tailwindcss.css"/>
    <partial name="_FontsPartial"/>
</head>

<body class="bg-secondary-300 md:grid md:grid-cols-[14rem_auto] md:min-h-screen">
<nav class="fixed top-0 left-0 md:relative md:top-auto md:left-auto bg-primary-200 shadow-sm w-full md:flex md:flex-col md:gap-y-24">
    <div class="py-3 px-5 w-full">
        <partial name="_MymbaLogo"/>
    </div>

    <partial name="/Views/Shared/App/NavigationWidget.cshtml"/>
    <partial name="/Views/Shared/App/NavBottonWidget.cshtml"/>
</nav>
<main class="container mx-auto mt-20 md:mt-10 px-4 md:px-8 mb-20 md:mb-4">
    <h2 class="text-4xl text-primary font-bold font-sans-header">@ViewData["Title"]</h2>
    <br/>
    @RenderBody()
</main>
@await RenderSectionAsync("Scripts", required: false)
</body>

</html>