<!DOCTYPE html>
<html class="scroll-smooth font-ui" lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mymba Pet</title>
    <link rel="stylesheet" href="~/css/tailwindcss.css" />
    <partial name="_FontsPartial" />
</head>

<body class="grid md:grid-cols-[14rem_auto] bg-ui-light-page md:min-h-screen">
    <nav class="bg-ui-light-section">
        <div class="py-3 px-5">
            <partial name="_MymbaLogo" />
        </div>
        <partial name="/Views/Shared/App/NavigationWidget.cshtml" />
        
        
    </nav>
    <main class="container mx-auto mt-10 px-5">
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>