<div class="hidden md:block md:relative md:bottom-auto md:left-auto w-full">
    <div class="flex flex-row md:flex-col bg-white md:ps-5 md:bg-transparent">
        <a
            asp-area="Identity"
            asp-page="/Account/Logout"
            class="twbtn nav group">
            <div
                class="flex flex-row gap-1">
                <partial name="App/icons/logout"/>
                <div class="text-alert">Cerrar sesión</div>
            </div>
        </a>
    </div>
</div>