@using c18_98_m_csharp.Models.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
}

<div class="fixed md:relative bottom-0 left-0 md:bottom-auto md:left-auto w-full">
    <div class="flex flex-row md:flex-col bg-white md:bg-transparent">
        <a asp-controller="Pets" asp-action="MyPets"
           class="p-4 flex flex-row">
            <object data="/images/icons/home.svg" type="image/svg+xml"></object>
            <span>Inicio</span>
        </a>
        <a asp-controller="Pets" asp-action="MyPets"
           class="p-4">
            <span>Inicio</span>
        </a>
        <a asp-controller="Pets" asp-action="MyPets"
           class="p-4">
            <span>Inicio</span>
        </a>
    </div>
</div>