@model c18_98_m_csharp.Models.Pet

@{
    ViewData["Title"] = "A침adir mascota";
}

<div class="flex flex-row place-content-between">
    <h2 class="text-4xl text-primary font-medium mb-10">@ViewData["Title"]</h2>
    <a asp-controller="Pets" asp-action="Index">
        Cancelar
    </a>
</div>
@* TODO: Colocar validaciones en el formulario y mostrar mensajes de error *@
<form asp-action="AddPet" class="bg-ui-light-section shadow-sm p-10">
    <div class="mx-auto max-w-[60rem]">
        <h3 class="text-2xl text-terciary font-medium mb-3">Foto de perfil</h3>
        <div class="flex flex-row">
            <div class="w-32 h-32 bg-primary shadow-md rounded-full"></div>
            <div class="flex flex-col my-auto ms-8 gap-2 place-content-center">
                @* TODO: Si la mascota tiene foto el bot칩n debe decir 'Modificar' *@
                <button
                    class="text-sm ui-btn text-terciary border-2 border-terciary hover:text-white hover:bg-terciary">
                    Subir foto
                </button>
            </div>
        </div>

        <div class="border-b-2 my-8"></div>

        <div>
            <h3 class="text-2xl text-terciary font-medium mb-3">Descripci칩n</h3>
            <div class="grid grid-cols-2 gap-x-8 gap-y-3">
                <div class="flex flex-col">
                    <label>Nombre</label>
                    <input type="text" asp-for="Name" />
                </div>
                <div class="flex flex-col">
                    <label>Fecha de cumplea침os</label>
                    <input type="date" asp-for="Birthdate" />
                </div>
                <div class="flex flex-col col-span-2">
                    <label>Especie</label>
                    <input type="text" asp-for="Species" />
                </div>
                <div class="flex flex-col col-span-2">
                    <label>Notas</label>
                    <textarea asp-for="Notes"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div class="flex place-content-end">
            <input type="submit" value="Guardar"
                class="ui-btn bg-primary text-white">
        </div>

    </div>

</form>