@model c18_98_m_csharp.Models.Pet

@{
    ViewData["Title"] = $"Ficha de {Model.Name}";
    var authorizedVets = ViewData["AuthorizedVets"] as List<AppUser>;
}

<div class="flex flex-row place-content-between">
    <h2 class="text-4xl text-primary font-medium mb-10">@ViewData["Title"]</h2>
    <button onclick="enableForm()">Editar</button>
</div>

<form asp-asp-controller="Pets" asp-action="Update" method="post" class="bg-ui-light-section shadow-sm p-10">
    <input type="hidden" asp-for="Id"/>
    <div class="mx-auto max-w-[60rem]">
        <h3 class="text-2xl text-terciary font-medium mb-3">Foto de perfil</h3>
        <div class="grid grid-cols-2 place-content">
            <div class="flex flex-row border-e-2 border-e-ui-light-contrast">
                <div class="w-32 h-32 bg-primary shadow-md rounded-full"></div>
                <div class="flex flex-col my-auto ms-8 gap-2 place-content-center">
                    @* TODO: Si la mascota tiene foto el botón debe decir 'Modificar' *@
                    <button
                        class="text-sm ui-btn text-terciary border-2 border-terciary hover:text-white hover:bg-terciary">
                        Subir foto
                    </button>
                </div>
            </div>
            @*
            TODO:
            - Centrar botones
            - Añadir acciones
            *@
            <div>
                <a class="text-sm ui-btn text-terciary border-2 border-terciary hover:text-white hover:bg-terciary">
                    Carné de Vacunación
                </a>
                <a class="text-sm ui-btn text-terciary border-2 border-terciary hover:text-white hover:bg-terciary">
                    Historia clínica
                </a>
                <a class="text-sm ui-btn text-terciary border-2 border-terciary hover:text-white hover:bg-terciary">
                    Agendar consulta
                </a>
            </div>
        </div>


        <div class="border-b-2 my-8"></div>

        <div>
            <h3 class="text-2xl text-terciary font-medium mb-3">Descripción</h3>
            <div class="grid grid-cols-2 gap-x-8 gap-y-3">
                <div class="flex flex-col">
                    <label>Nombre</label>
                    <input type="text" asp-for="Name" disabled/>
                </div>
                <div class="flex flex-col">
                    <label>Fecha de cumpleaños</label>
                    <input type="date" asp-for="Birthdate" disabled/>
                </div>
                <div class="flex flex-col col-span-2">
                    <label>Especie</label>
                    <input type="text" asp-for="Species" disabled/>
                </div>
                <div class="flex flex-col col-span-2">
                    <label>Notas</label>
                    <textarea asp-for="Notes" disabled></textarea>
                </div>
            </div>
        </div>
        <br>
        <div class="flex place-content-end">
            <input type="submit" value="Guardar" class="ui-btn bg-primary text-white" disabled>
        </div>
    </div>
</form>

<a asp-action="Index" class="ui-btn bg-primary text-white">Volver</a>

<section>
    <h3>
        Veterinarios
    </h3>
    <p>El siguiente veterinario tiene acceso a la información de @Model.Name</p>
    <ul>
        @foreach (var vet in authorizedVets)
        {
            <li>@vet.UserName</li>
        }
    </ul>
    <a
        asp-controller="Pets"
        asp-action="ShareAccessCode"
        asp-route-id="@Model.Id">
        Autorizar veterinario
    </a>
</section>

<script>
    function enableForm() {
        const inputs = document.querySelectorAll('input, textarea');
        inputs.forEach(input => {
            input.disabled = false;
        });
    }

    function disableForm() {
        const inputs = document.querySelectorAll('input, textarea');
        inputs.forEach(input => {
            input.disabled = true;
        });
    }

</script>