@model c18_98_m_csharp.Models.Pets.Pet

@{
    ViewData["Title"] = "Detalles de mascota";
}
<form asp-action="PetDetails" class="bg-secondary-100 rounded-lg shadow-sm p-4">
    <input asp-for="Id" hidden="hidden"/>
    <div class="form-group-col">
        <label asp-for="Name">Nombre</label>
        <input asp-for="Name" class="theme-input-primary"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group-col">
        <label asp-for="Species">Especie</label>
        <select asp-for="Species" class="theme-input-primary">
            <option value="Dog">Perro</option>
            <option value="Cat">Gato</option>
            <option value="Bird">Ave</option>
            <option value="Other">Otro</option>
        </select>
        <span asp-validation-for="Species"></span>
    </div>
    <div class="form-group-col">
        <label asp-for="Birthdate">Cumpleaños</label>
        <input asp-for="Birthdate" type="date" class="theme-input-primary"/>
        <span asp-validation-for="Birthdate"></span>
    </div>
    <div class="form-group-col">
        <label asp-for="Notes">Notas</label>
        <textarea asp-for="Notes" class="theme-input-primary"></textarea>
        <span asp-validation-for="Notes"></span>
    </div>
    
    <p>Esta información solo puede modificar el veterinario</p>
    <div class="form-group-col">
        <label asp-for="Breed">Raza</label>
        <input asp-for="Breed" class="theme-input-primary"/>
    </div>
    <div class="form-group-col">
        <label asp-for="Color">Color</label>
        <input asp-for="Color" class="theme-input-primary"/>
    </div>
    <div class="form-group-col">
        <label asp-for="Sex">Género</label>
        <select asp-for="Sex" class="theme-input-primary">
            <option value="Macho">Macho</option>
            <option value="Hembra">Hembra</option>
        </select>
    </div>
    <div class="form-group-col">
        <label asp-for="MicrochipId">ID del Microship</label>
        <input asp-for="MicrochipId" class="theme-input-primary"/>
    </div>
    <a asp-action="Index" class="theme-btn hover:bg-secondary-500 text-tertiary">Volver</a>
    <button type="submit" class="theme-btn bg-primary hover:bg-primary-500 text-secondary-100">Guardar</button>
    <a asp-action="ShareWithVet" asp-route-id="@Model.Id" class="theme-btn">Dar acceso a un veterinario</a>

</form>

<a asp-controller="ClinicalHistories" asp-action="Details" asp-route-id="@Model.ClinicalHistoryId">Historia Clínica</a>
