@model c18_98_m_csharp.Models.Pets.PetAccessCode

@{
    ViewData["Title"] = "Compartir código de acceso";
}

<p>
    Comparte este código de acceso con tu veterinario
</p>

<div>
    @Model.Code
</div>