@model c18_98_m_csharp.Models.PetAccessCode
<form asp-action="AddPatientBySharedCode">
    <label>
        Introduce el código proporcionado por el tutor de la mascota:
    </label>
    <input type="text" asp-for="Code"/>
    <button type="submit">Enviar</button>
</form>