<div class="max-w-[55rem] mx-auto container">
    <img src="~/images/app/bg-nopets.svg" class="max-w-[40rem] mx-auto my-20" alt="">
    <p class="text-4xl text-secondary text-center font-sans-header">
        ¡Ups! Parece que no hay nada por acá todavía.
        <br>
        ¡Añadí tu primera mascota para comenzar!
    </p>
    <br>
    <div class="flex place-content-center">
        <a asp-controller="Pets" asp-action="AddNew" class="ui-btn bg-primary text-white text-lg">
            Añadir mascota
        </a>
    </div>

</div>