<div class="flex flex-col-reverse md:flex-row gap-2 md:place-content-end">
    <a
        asp-action="Index"
        class="twbtn">
        Volver
    </a>
    <a
        asp-controller="ClinicalHistories"
        asp-action="Details" asp-route-id="@Model.ClinicalHistoryId"
        class="twbtn">
        Historia Clínica
    </a>
    @if (User.IsInRole("PetTutor"))
    {
        <a
            asp-controller="Pets"
            asp-action="ShareWithVet" asp-route-id="@Model.Id"
            class="twbtn">
            Autorizar veterinario
        </a>
    }
    <button
        type="submit"
        class="twbtn solid-primary">
        Guardar
    </button>
</div>