<section id="aboutMymba" class="bg-primary place-content-center">
    <div class="container mx-auto text-white">
        <h2 class="text-3xl font-medium mb-3 font-sans-header">¿Qué es Mymba Pet?</h2>
        <p>
            Mymba es una plataforma integral diseñada para transformar la gestión y el seguimiento de la salud de las
            mascotas. Nuestra aplicación centraliza y digitaliza la información médica, facilitando una interacción
            eficiente entre veterinarios y tutores de animales. Con Mymba, vas a tener acceso rápido y seguro a la
            historia
            clínica de tu mascota en cualquier momento y lugar, promoviendo una atención médica más efectiva y
            personalizada.
        </p>
    </div>
</section>
