<style>
    #heroBanner {
        height: 40em;
        background-image: url('/images/home/bg-heroBanner.jpg');
        background-size: cover;
        background-position: center;
    }
    .btn {
        padding: 1em 2em;
        border-radius: 0.5em;
        text-align: center;
    }
</style>
<section id="heroBanner" class="bg-slate-500 flex flex-col place-content-center">
    <div class="container mx-auto w-full">
<div class="bg-black text-white px-10 py-16 bg-opacity-70 rounded-2xl" style="max-width: 28em;">
        <div class="mb-6">
            <p class="text-3xl mb-3 font-medium">
            La salud de tus mascotas siempre a tu alcance
        </p>
        <p>
            Porque ellos también son parte de tu familia
        </p>
        </div>
        <div class="flex flex-row gap-4">
            <a href="#" class="grow btn bg-primary">Registrarme</a>
            <a href="#" class="grow btn outline outline-1">Saber más</a>
        </div>
    </div>
    </div>
    
</section>