@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Enlace temporal de Onboarding. <a asp-controller="Home" asp-action="Onboarding">CLICK</a></p>
</div>