<ul class="flex flex-row my-auto gap-8">
    <li>
        <a href="">
            Tutores
        </a>
    </li>
    <li>
        <a href="">
            Veterinarios
        </a>
    </li>
    <li>
        <a href="">
            Ayuda
        </a>
    </li>
</ul>