<ul class="flex flex-row my-auto gap-8">
    <li>
        <a href="#forWhoIsMymba">
            Tutores
        </a>
    </li>
    <li>
        <a href="#forWhoIsMymba">
            Veterinarios
        </a>
    </li>
    <li>
        <a href="#faq">
            Ayuda
        </a>
    </li>
</ul>