@{
    ViewData["Title"] = "Onboarding";
}
<div id="onboardingPagination" class="row gap-4">
    <span class="bg-primary col rounded-pill" style="height: 0.5rem"></span>
    <span class="bg-primary col rounded-pill"></span>
    <span class="bg-primary col rounded-pill"></span>
    <span class="bg-primary col rounded-pill"></span>
</div>

<div class="onboardingCard">
    <img src="" alt="" />
    <div>Accedé a la información médica de tu mascota al instante</div>
</div>

<div class="onboardingCard">
    <img src="" alt="" />
    <div>Agendá citas veterinarias fácilmente.</div>
</div>

<div class="onboardingCard">
    <img src="" alt="" />
    <div>Recibí recordatorios de vacunación y chequeos</div>
</div>

<div class="onboardingCard">
    <img src="" alt="" />
    <div>Con XXXX asegurás el cuidado y la felicidad de tu mascota</div>
</div>

<div id="onboardingActions">
    <button>¡Empecemos!</button>
    <button>Omitir</button>
</div>
