<section class="bg-primary py-24">
    <h2 class="container mx-auto text-white text-center text-3xl font-medium mb-10 font-sans-header">Lo que nuestros usuarios dicen</h2>
    <div class="container mx-auto grid md:grid-cols-3 gap-10">
        <div class="p-8 rounded-2xl bg-white">
            <div class="w-48 h-48 mx-auto rounded-full mb-5 shadow-lg bg-[url('/images/home/profile-2.png')] bg-cover">
            </div>
            <h3 class="text-center text-sm mb-4 font-sans-header font-light">Martín Ferrante, Familiar de Simón (gato)</h3>
            <p class="text-center italic">“Ahora me puedo ir de vacaciones con mi gato, Simón, sin preocupaciones. Mymba Pet me
                ha dado tranquilidad al tener toda la información veterinaria de mi gato siempre a mano.”</p>
        </div>
        <div class="p-8 rounded-2xl bg-white">
            <div class="w-48 h-48 mx-auto rounded-full mb-5 shadow-lg bg-[url('/images/home/profile-3.png')] bg-cover">
            </div>
            <h3 class="text-center text-sm mb-4 font-sans-header font-light">María Juárez, Refugio Amigos de los Animales</h3>
            <p class="text-center italic">“En nuestro refugio, Mymba Pet nos ha facilitado el seguimiento de la salud de cada
                animal. Ahora tenemos todos los registros médicos organizados y accesibles en un solo lugar.”</p>
        </div>
        <div class="p-8 rounded-2xl bg-white">
            <div class="w-48 h-48 mx-auto rounded-full mb-5 shadow-lg bg-[url('/images/home/profile-4.png')] bg-cover">
            </div>
            <h3 class="text-center text-sm mb-4 font-sans-header font-light">Mónica Gómez, Veterinaria</h3>
            <p class="text-center italic">“Mymba Pet ha revolucionado la forma en que gestiono la información de mis pacientes.
                Es fácil de usar y mantiene a los dueños informados en todo momento. ¡Altamente recomendada!”</p>
        </div>
    </div>

</section>